.table {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  height: 100%;

  .tableBody {
    overflow-y: auto;
  }
}

.linkCell {
  color: blue;
  
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}