.table {
  box-shadow: -1px 5px 18px -8px rgba(34, 60, 80, 0.52);

  height: 100%;

  .subInfo {
    padding: 30px;
  }

  .tableBody {

    .tags {
      display: flex;
      align-items: center;
    }
  }
}

.linkCell {
  color: blue;
  
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}