.pageContent {
  height: 100%;

  .control {
    margin: 5px 0 30px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .leftBtns {
      .leftBtn {
        margin-right: 10px;
      }
    }
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 48%;
}
